p, a, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

* {
	box-sizing: border-box;
}

nav, header, footer, main, aside{
	display: block;
}

.text-right {
  text-align: right;
}

.separator {
  height: 1px;
  width: 100%;
  background-color: $light-gray;
  display: inline-block;
  margin-bottom: 40px;
}

//button

.btn {
  padding: 10px 26px;
  font-size: 14px;
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: darken($blue,5%);
  }
  
  &-blue {
    color: #fff;
    background-color: $blue;
  }
  
  &-gray {
    color: $blue;
    background-color: #fff;
    border: 1px solid $light-gray;

    &:hover {
      color: #fff;
    }
  }
}

//list

.list {
  width: 100%;
  margin-bottom: 40px;
}

.list-item {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  width: 100%;
  color: $black;
  
  @media all and (min-width: $bp-small) {   
    margin-bottom: 15px;
  }
}