p, a, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  text-decoration: none;
}

* {
	box-sizing: border-box;
}

nav, header, footer, main, aside{
	display: block;
}

.text-right {
  text-align: right;
}

.separator {
  height: 1px;
  width: 100%;
  background-color: $light-gray;
  display: inline-block;
  margin-bottom: 40px;
}

//btn

.btn {
  padding: 12px 38px 14px;
  font-size: 14px;
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all $transition ease-out;
  border-radius: 3px;

  
  
  &-blue {
    color: #fff;
    background: linear-gradient(to top, $blue, #19d8f8);

    &:hover {
      background: linear-gradient(to top, darken($blue,5%), darken(#19d8f8,5%)) !important;
      // background: red;
    }
  }
  
  &-gray {
    color: $gray;
    background-color: transparent;
    border: none;

    &:hover {
      color: $blue;
      background-color: transparent;
    }
  }
}

.text-rigth {
  text-align: center;

    @media all and (min-width: $bp-small) {   
      text-align: right;
    }
}

//list

.list {
  width: 100%;
  margin-bottom: 40px;
}

.list-item {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 8px;
  width: 100%;
  display: inline-block;
  color: $black;
  
  @media all and (min-width: $bp-small) {   
    margin-bottom: 15px;
  }
}