.icon {
    display: inline-block;
    background-size: contain;
    background-position: center;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
}

i[class^="i-"] {
	width: 44px;
    height: 44px;
    display: inline-block;
}

.i-marker-blue {
    background: url(../img/markerBlue.svg) no-repeat center;
    background-size: contain;
}

.i-map-marker-blue{
    background: url(../img/mapMark.svg) no-repeat center;
    background-size: contain;
}

.i-phone-blue {
    background: url(../img/phoneBlue.svg) no-repeat center;
    background-size: contain;
}

.i-mail-blue {
    background: url(../img/mailBlue.svg) no-repeat center;
    background-size: contain;
}

.i-email-w {
    background-image: url(../img/email-w.svg);}

.i-email-b {
    background-image: url(../img/email-b.svg);}

.i-phone-w {
    background-image: url(../img/phone-w.svg);}

.i-phone-b {
    background-image: url(../img/phone-b.svg);}

.i-mark-b {
    background-image: url(../img/mark-b.svg);}

.i-facebook-w {
    background-image: url(../img/facebook-w.svg);}

.i-facebook-b {
    background-image: url(../img/facebook-b.svg);}

.i-vk-w {
    background-image: url(../img/vk-w.svg);}

.i-vk-b {
    background-image: url(../img/vk-b.svg);}

.i-bathroom {
    background-image: url(../img/bathroom.svg);}

.i-swimmer {
    background-image: url(../img/swimmer.svg);}

.i-common {
    background-image: url(../img/common.svg);}

.i-kitchen {
    background-image: url(../img/kitchen.svg);}

.i-plant {
    background-image: url(../img/plant.svg);}

.i-monitor {
    background-image: url(../img/monitor.svg);}

.i-dish {
    background-image: url(../img/dish.svg);}

.i-sofa {
    background-image: url(../img/sofa.svg);}

.i-gradient {
    background-image: url(../img/i-gradient.svg);}

.i-wi-fi {
    background-image: url(../img/wi-fi.svg);}

.i-parking {
    background-image: url(../img/parking.svg);}

.i-bed {
    background-image: url(../img/bed.svg);}

.i-mountain {
    background-image: url(../img/mountain.svg);}

.i-binoculars {
    background-image: url(../img/binoculars.svg);}

.i-cutlery {
    background-image: url(../img/cutlery.svg);}

.i-flag {
    background-image: url(../img/flag.svg);}

.i-mark-map {
    background-image: url(../img/mark-map.svg);}

.i-persons-01 {
    background-image: url(../img/persons-01.svg);}

.i-persons-02 {
    background-image: url(../img/persons-02.svg);}

.i-bed-g {
    background-image: url(../img/bed-g.svg);}

.i-email-g {
    background-image: url(../img/email-g.svg);}

.i-phone-g {
    background-image: url(../img/phone-g.svg);}

.i-calendar-g {
    background-image: url(../img/calendar-g.svg);}

.i-person-g {
    background-image: url(../img/person-g.svg); }

.i-wave {
    position: relative;
    
    &:after {
        content: "";
        position: absolute;
        background-image: url(../img/wave.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 50px;
        height: 25px;
        bottom: -23px;
        left: 0;
        
        @media all and (min-width: $bp-small) {
            left: 50%;
            transform: translateX(-50%);
        }
    }
}