.icon {
    display: inline-block;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.i-email-w {
    background-image: url(../img/email-w.svg);
}

.i-email-b {
    background-image: url(../img/email-b.svg);
}

.i-phone-w {
    background-image: url(../img/phone-w.svg);
}

.i-phone-b {
    background-image: url(../img/phone-b.svg);
}

.i-mark-b {
    background-image: url(../img/mark-b.svg);
}

.i-facebook-w {
    background-image: url(../img/facebook-w.svg);
}

.i-facebook-b {
    background-image: url(../img/facebook-b.svg);
}

.i-vk-w {
    background-image: url(../img/vk-w.svg);
}

.i-vk-b {
    background-image: url(../img/vk-b.svg);
}

.i-bathroom {
    background-image: url(../img/bathroom.svg);
}

.i-swimmer {
    background-image: url(../img/swimmer.svg);
}

.i-common {
    background-image: url(../img/common.svg);
}

.i-kitchen {
    background-image: url(../img/kitchen.svg);
}

.i-plant {
    background-image: url(../img/plant.svg);
}

.i-monitor {
    background-image: url(../img/monitor.svg);
}

.i-dish {
    background-image: url(../img/dish.svg);
}

.i-sofa {
    background-image: url(../img/sofa.svg);
}

.i-gradient {
    background-image: url(../img/i-gradient.svg);
}

.i-wi-fi {
    background-image: url(../img/wi-fi.svg);
}

.i-parking {
    background-image: url(../img/parking.svg);
}

.i-bed {
    background-image: url(../img/bed.svg);
}

.i-mountain {
    background-image: url(../img/mountain.svg);
}

.i-binoculars {
    background-image: url(../img/binoculars.svg);
}

.i-cutlery {
    background-image: url(../img/cutlery.svg);
}

.i-flag {
    background-image: url(../img/flag.svg);
}

.i-mark-map {
    background-image: url(../img/mark-map.svg);
}