//fonts size
$small-text: 12px;
$text: 12px;
$sub-title: 20px;
$small-title: 18px;
$title: 26px;
$large-title: 40px;

//colors
$light-gray: #EDEFF2;
$gray: #858B91;
$black: #3C4045;
$blue: #1A9EE9;

//other
$col-padding: 20px;
$transition: 0.3s;
$shadow: 0 0px 15px rgba(0, 0, 0, 0.2), 0 0px 3px rgba(0, 0, 0, 0.1);

//grid
$breakpoint-small: 767px;
$breakpoint-medium: 989px;
$breakpoint-large: 1399px;