//fonts size
$small-text: 12px;
$text: 16px;
$sub-title: 20px;
$small-title: 18px;
$title: 34px;
$large-title: 40px;

//colors
$light-gray: #EDEFF2;
$gray: #858B91;
$black: #3C4045;
$blue: #009beb;
$red: #f5415f;
$green: #34cc7c;

//grid
$bp-small: 767px;
$bp-medium: 989px;
$bp-large: 1399px;

//other
$col-padding: 20px;
$transition: 0.3s;
$shadow: 0 0px 15px rgba(0, 0, 0, 0.2), 0 0px 3px rgba(0, 0, 0, 0.1);