p, a, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

nav, header, footer, main, aside {
  display: block; }

.text-right {
  text-align: right; }

.separator {
  height: 1px;
  width: 100%;
  background-color: #EDEFF2;
  display: inline-block;
  margin-bottom: 40px; }

.btn {
  padding: 12px 38px 14px;
  font-size: 14px;
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  border-radius: 3px; }
  .btn-blue {
    color: #fff;
    background: -webkit-gradient(linear, left bottom, left top, from(#009beb), to(#19d8f8));
    background: -webkit-linear-gradient(bottom, #009beb, #19d8f8);
    background: -o-linear-gradient(bottom, #009beb, #19d8f8);
    background: linear-gradient(to top, #009beb, #19d8f8); }
    .btn-blue:hover {
      background: -webkit-gradient(linear, left bottom, left top, from(#008ad2), to(#07cff0)) !important;
      background: -webkit-linear-gradient(bottom, #008ad2, #07cff0) !important;
      background: -o-linear-gradient(bottom, #008ad2, #07cff0) !important;
      background: linear-gradient(to top, #008ad2, #07cff0) !important; }
  .btn-gray {
    color: #9ca5af;
    background-color: transparent;
    border: none; }
    .btn-gray:hover {
      color: #009beb;
      background-color: transparent; }

.text-rigth {
  text-align: center; }
  @media all and (min-width: 767px) {
    .text-rigth {
      text-align: right; } }

.list {
  width: 100%;
  margin-bottom: 40px; }

.list-item {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 8px;
  width: 100%;
  display: inline-block;
  color: #3C4045; }
  @media all and (min-width: 767px) {
    .list-item {
      margin-bottom: 15px; } }

.icon {
  display: inline-block;
  background-size: contain;
  background-position: center;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat; }

i[class^="i-"] {
  width: 44px;
  height: 44px;
  display: inline-block; }

.i-marker-blue {
  background: url(../img/markerBlue.svg) no-repeat center;
  background-size: contain; }

.i-map-marker-blue {
  background: url(../img/mapMark.svg) no-repeat center;
  background-size: contain; }

.i-phone-blue {
  background: url(../img/phoneBlue.svg) no-repeat center;
  background-size: contain; }

.i-mail-blue {
  background: url(../img/mailBlue.svg) no-repeat center;
  background-size: contain; }

.i-email-w {
  background-image: url(../img/email-w.svg); }

.i-email-b {
  background-image: url(../img/email-b.svg); }

.i-phone-w {
  background-image: url(../img/phone-w.svg); }

.i-phone-b {
  background-image: url(../img/phone-b.svg); }

.i-mark-b {
  background-image: url(../img/mark-b.svg); }

.i-facebook-w {
  background-image: url(../img/facebook-w.svg); }

.i-facebook-b {
  background-image: url(../img/facebook-b.svg); }

.i-vk-w {
  background-image: url(../img/vk-w.svg); }

.i-vk-b {
  background-image: url(../img/vk-b.svg); }

.i-bathroom {
  background-image: url(../img/bathroom.svg); }

.i-swimmer {
  background-image: url(../img/swimmer.svg); }

.i-common {
  background-image: url(../img/common.svg); }

.i-kitchen {
  background-image: url(../img/kitchen.svg); }

.i-plant {
  background-image: url(../img/plant.svg); }

.i-monitor {
  background-image: url(../img/monitor.svg); }

.i-dish {
  background-image: url(../img/dish.svg); }

.i-sofa {
  background-image: url(../img/sofa.svg); }

.i-gradient {
  background-image: url(../img/i-gradient.svg); }

.i-wi-fi {
  background-image: url(../img/wi-fi.svg); }

.i-parking {
  background-image: url(../img/parking.svg); }

.i-bed {
  background-image: url(../img/bed.svg); }

.i-mountain {
  background-image: url(../img/mountain.svg); }

.i-binoculars {
  background-image: url(../img/binoculars.svg); }

.i-cutlery {
  background-image: url(../img/cutlery.svg); }

.i-flag {
  background-image: url(../img/flag.svg); }

.i-mark-map {
  background-image: url(../img/mark-map.svg); }

.i-persons-01 {
  background-image: url(../img/persons-01.svg); }

.i-persons-02 {
  background-image: url(../img/persons-02.svg); }

.i-bed-g {
  background-image: url(../img/bed-g.svg); }

.i-email-g {
  background-image: url(../img/email-g.svg); }

.i-phone-g {
  background-image: url(../img/phone-g.svg); }

.i-calendar-g {
  background-image: url(../img/calendar-g.svg); }

.i-person-g {
  background-image: url(../img/person-g.svg); }

.i-wave {
  position: relative; }
  .i-wave:after {
    content: "";
    position: absolute;
    background-image: url(../img/wave.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 50px;
    height: 25px;
    bottom: -23px;
    left: 0; }
    @media all and (min-width: 767px) {
      .i-wave:after {
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%); } }

html {
  font-size: 16px; }

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #3C4045; }

.large-title {
  font-size: 40px; }

.title {
  font-size: 34px; }

.small-title {
  font-size: 18px; }

.sub-title {
  font-size: 34px; }

.title-section {
  font-size: 34px;
  margin-bottom: 60px; }
  @media all and (min-width: 767px) {
    .title-section {
      margin-bottom: 100px;
      text-align: center; } }

.text {
  font-size: 13px;
  font-weight: 400;
  line-height: 1.7; }

.small-text {
  font-size: 12px;
  font-weight: 400; }

.light-text {
  font-weight: 200;
  font-family: "Poppins", sans-serif; }

html, body {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  font-family: 'Poppins', sans-serif; }

body {
  margin: 0;
  padding: 0; }

.main {
  padding-top: 20px; }
  @media all and (min-width: 767px) {
    .main {
      padding-top: 60px; } }

.nearby {
  padding-top: 60px;
  padding-bottom: 40px; }
  @media all and (min-width: 767px) {
    .nearby {
      padding-top: 60px;
      padding-bottom: 180px; } }

.rooms, .convenience, .about-us {
  padding-top: 20px;
  padding-bottom: 20px; }
  @media all and (min-width: 767px) {
    .rooms, .convenience, .about-us {
      padding-top: 60px;
      padding-bottom: 60px; } }

.header {
  background: #009beb url(../img/header-picture.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  height: 90vh; }
  @media all and (min-width: 767px) {
    .header {
      min-height: 540px; } }
  .header::before, .header::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0; }
  .header::before {
    height: 200px;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(20%, rgba(0, 0, 0, 0.2)), to(transparent));
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.2) 20%, transparent 100%);
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.2) 20%, transparent 100%);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.2) 20%, transparent 100%);
    z-index: 10; }
  .header::after {
    top: 0;
    background-color: rgba(0, 24, 67, 0.75); }

.header-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.logo {
  font-weight: 600;
  color: #3C4045;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center; }
  @media all and (min-width: 767px) {
    .logo {
      font-size: 36px;
      color: #fff;
      background-color: transparent; } }

.contacts {
  font-size: 0;
  display: none; }
  .contacts > a {
    color: #fff;
    font-weight: 300; }
  @media all and (min-width: 767px) {
    .contacts {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; } }
  .contacts .contact-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    float: left;
    margin-left: 24px;
    font-size: 12px;
    text-align: right;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: 1; }
    .contacts .contact-link:hover {
      opacity: 0.6; }
    .contacts .contact-link .icon {
      height: 12px;
      width: 12px;
      margin-right: 8px; }
    .contacts .contact-link .i-facebook-w, .contacts .contact-link .i-vk-w {
      width: 20px;
      height: 20px;
      margin-right: 0; }

.nav {
  max-height: 0px;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  overflow: hidden; }
  @media all and (min-width: 767px) {
    .nav {
      overflow: visible; } }

.nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-bottom: none;
  padding: 20px 0; }
  @media all and (min-width: 767px) {
    .nav-wrapper {
      padding: 20px 0 0;
      border-bottom: 1px solid #009beb;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.nav-item {
  padding: 0; }
  @media all and (min-width: 767px) {
    .nav-item {
      padding: 0 16px; } }

.nav-link {
  display: inline-block;
  padding: 20px 0;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #EDEFF2;
  font-size: 14px;
  font-weight: 300;
  line-height: 0.69;
  letter-spacing: 1.6px;
  text-align: center;
  color: #3C4045; }
  @media all and (min-width: 767px) {
    .nav-link {
      color: #fff;
      width: auto;
      border-bottom: none; } }
  .nav-link:after {
    content: none;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #fff; }
    @media all and (min-width: 767px) {
      .nav-link:after {
        content: ""; } }
  .nav-link:hover:after {
    width: 100%; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 26px;
  height: 16px;
  cursor: pointer;
  position: relative; }
  @media all and (min-width: 767px) {
    .menu {
      display: none; } }
  .nav-show .menu {
    height: 26px; }
  .menu .menu-line {
    height: 1px;
    width: 100%;
    background-color: #009beb;
    -webkit-transition: width 0.2s;
    -o-transition: width 0.2s;
    transition: width 0.2s;
    opacity: 1;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
    .menu .menu-line:nth-child(1) {
      position: absolute;
      top: 0px;
      left: 0; }
    .menu .menu-line:nth-child(2) {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      opacity: 1; }
    .menu .menu-line:nth-child(3) {
      position: absolute;
      bottom: 0px;
      left: 0; }
    .nav-show .menu .menu-line:nth-child(1) {
      position: absolute;
      top: 12px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    .nav-show .menu .menu-line:nth-child(2) {
      opacity: 0; }
    .nav-show .menu .menu-line:nth-child(3) {
      position: absolute;
      top: 12px;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }

.header-navigation {
  background-color: rgba(255, 255, 255, 0.98);
  padding-top: 10px;
  margin-bottom: 20px;
  position: relative;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 50px;
  -webkit-box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2), 0 0px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2), 0 0px 3px rgba(0, 0, 0, 0.1); }
  @media all and (min-width: 767px) {
    .header-navigation {
      position: absolute;
      background-color: transparent;
      -webkit-box-shadow: none;
      box-shadow: none; } }
  @media all and (max-width: 767px) {
    .header-navigation.nav-show .nav {
      max-height: 100vh; } }

@media all and (min-width: 767px) {
  .fixed .header-navigation {
    position: fixed;
    background-color: #fff;
    -webkit-box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2), 0 0px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2), 0 0px 3px rgba(0, 0, 0, 0.1);
    padding-top: 0; }
    .fixed .header-navigation .header-info {
      float: left; }
      .fixed .header-navigation .header-info .logo-wrapper {
        padding-top: 9px; }
      .fixed .header-navigation .header-info .logo {
        font-size: 20px;
        padding-top: 10px;
        color: #3C4045; }
      .fixed .header-navigation .header-info .contacts {
        display: none; }
    .fixed .header-navigation .nav {
      float: right; }
      .fixed .header-navigation .nav .nav-wrapper {
        padding-top: 0;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        border-bottom: none; }
    .fixed .header-navigation .nav-item {
      padding: 0 16px; }
      .fixed .header-navigation .nav-item:last-child {
        padding-right: 0; }
    .fixed .header-navigation .nav-link {
      font-size: 12px;
      color: #3C4045; }
      .fixed .header-navigation .nav-link::after {
        background-color: #009beb; } }

.hero-section {
  height: 100%;
  position: relative;
  z-index: 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 20px; }
  @media all and (min-width: 767px) {
    .hero-section {
      padding-top: 40px; } }

.slogan .large-title {
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 2.2px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  padding: 24px 0; }
  @media all and (min-width: 767px) {
    .slogan .large-title {
      font-size: 70px; } }
  .slogan .large-title:before, .slogan .large-title:after {
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 200px;
    height: 1px;
    background-color: #009beb; }
  .slogan .large-title:before {
    top: 12px; }
  .slogan .large-title:after {
    bottom: 10px; }

.slogan .light-text {
  display: block; }
  @media all and (min-width: 767px) {
    .slogan .light-text {
      display: initial; } }

.slogan .sub-title {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.9px;
  text-align: center;
  color: #fff;
  margin: 0; }
  @media all and (min-width: 767px) {
    .slogan .sub-title {
      font-size: 28px; } }

.room-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  position: relative; }
  @media all and (min-width: 767px) {
    .room-card {
      -webkit-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
      top: 0px; }
      .room-card:hover {
        -webkit-box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2), 0 0px 3px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2), 0 0px 3px rgba(0, 0, 0, 0.1);
        top: -5px; }
        .room-card:hover .room-photo img {
          opacity: 0.8; } }
  .room-card .room-photo {
    height: 190px;
    background-color: #009beb;
    display: inline-block;
    width: 100%; }
    .room-card .room-photo > img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s; }
  .room-card .room-description {
    padding: 14px 14px 24px;
    border: 1px solid #EDEFF2; }
  .room-card .small-title {
    font-size: 18px;
    margin-bottom: 6px; }
  .room-card .small-text {
    font-size: 12px;
    line-height: 1.6;
    overflow: hidden;
    height: 40px;
    margin-bottom: 12px;
    color: #9ca5af; }
  .room-card .price {
    font-size: 18px;
    color: #009beb;
    font-weight: 400;
    opacity: 1;
    margin-bottom: 10px;
    display: inline-block;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
    @media all and (min-width: 767px) {
      .room-card .price {
        margin-bottom: 0; } }
    .room-card .price .currency {
      color: #3C4045;
      font-size: 14px;
      margin-right: 3px; }
  .room-card .btn {
    width: 100%;
    opacity: 1;
    bottom: 19px;
    right: 0px; }
    @media all and (min-width: 767px) {
      .room-card .btn {
        width: 165px;
        position: absolute;
        opacity: 0;
        bottom: 15px;
        right: 0px; } }
  @media all and (min-width: 767px) {
    .room-card:hover .btn {
      opacity: 1;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      left: 50%; }
    .room-card:hover .price {
      opacity: 0; } }

.convenience {
  background-image: url(../img/circle-gradient-top.svg), url(../img/bg-wave-left.svg), url(../img/bg-wave-right.svg);
  background-position: right top, left 440px, right 840px;
  background-repeat: no-repeat;
  background-size: 500px, 1000px, 1000px; }

.nearby {
  background-image: url(../img/circle-gradient-top.svg), url(../img/circle-gradient-top.svg);
  background-position: right 40px, left 380px;
  background-repeat: no-repeat;
  background-size: 500px, 200px; }
  .nearby .distace {
    color: #d4d8dd;
    float: right;
    line-height: 1.6; }
  .nearby .list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

.convenience .icon, .nearby .icon {
  height: 40px;
  width: 40px;
  font-size: 12px;
  display: inline-block;
  margin-bottom: 10px; }
  @media all and (min-width: 767px) {
    .convenience .icon, .nearby .icon {
      margin-bottom: 20px; } }

.convenience .small-title, .nearby .small-title {
  margin-bottom: 12px;
  line-height: 1.3;
  min-height: 46px; }
  @media all and (min-width: 767px) {
    .convenience .small-title, .nearby .small-title {
      margin-bottom: 10px; } }

.about-us {
  background-image: url(../img/circle-gradient-bottom.svg), url(../img/circle-gradient-bottom.svg);
  background-position: 140px 40px, center 580px;
  background-repeat: no-repeat;
  background-size: 500px, 300px; }

.card-section {
  margin-bottom: 100px; }
  .card-section:last-child {
    margin-bottom: 0; }
  .card-section .title {
    margin-bottom: 20px; }
  .card-section .text {
    color: #9ca5af; }

@media all and (min-width: 767px) {
  .card-left {
    margin-right: -30px; } }

@media all and (min-width: 767px) {
  .card-right {
    margin-left: -30px; } }

.card-description {
  font-size: 20px;
  position: relative;
  padding: 20px 20px;
  z-index: 1;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: -80px;
  -webkit-box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2), 0 0px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2), 0 0px 3px rgba(0, 0, 0, 0.1); }
  @media all and (min-width: 767px) {
    .card-description {
      height: 430px;
      padding: 0 40px;
      margin-top: 30px; } }
  .card-description .icon {
    width: 40px;
    height: 40px;
    margin-bottom: 25px; }

.card-picture {
  font-size: 20px;
  background-color: lightgray;
  height: 260px;
  margin-left: -20px;
  margin-right: -20px;
  overflow: hidden; }
  .card-picture > img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  @media all and (min-width: 767px) {
    .card-picture {
      height: 430px; } }

.contact-us {
  position: relative; }
  @media all and (min-width: 767px) {
    .contact-us {
      height: 400px; } }
  .contact-us .card-contacts {
    padding: 40px 0;
    background-color: #fff;
    border-top: 1px solid #EDEFF2;
    background-image: url(../img/bg-wave-left.svg);
    background-position: right 40px;
    background-repeat: no-repeat;
    background-size: 500px; }
    @media all and (min-width: 767px) {
      .contact-us .card-contacts {
        border-top: none;
        z-index: 1;
        -webkit-box-shadow: inset 0 3px 0 0 #009beb, 2.2px 4.5px 4.6px 0.4px rgba(0, 0, 0, 0.06), 5.7px 11.7px 32.2px 2.8px rgba(0, 0, 0, 0.08);
        box-shadow: inset 0 3px 0 0 #009beb, 2.2px 4.5px 4.6px 0.4px rgba(0, 0, 0, 0.06), 5.7px 11.7px 32.2px 2.8px rgba(0, 0, 0, 0.08);
        width: 388px;
        position: absolute;
        top: 33%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 70px 50px 80px; } }
    .contact-us .card-contacts .icon {
      width: 16px;
      height: 16px;
      margin-right: 14px; }
      .contact-us .card-contacts .icon-large {
        width: 50px;
        height: 50px;
        margin-bottom: 10px; }
        @media all and (min-width: 767px) {
          .contact-us .card-contacts .icon-large {
            margin-bottom: 20px; } }
    .contact-us .card-contacts .title {
      margin-bottom: 15px; }
      @media all and (min-width: 767px) {
        .contact-us .card-contacts .title {
          margin-bottom: 20px; } }
    .contact-us .card-contacts .text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 14px;
      color: #3C4045;
      font-size: 14px; }
      @media all and (min-width: 767px) {
        .contact-us .card-contacts .text {
          margin-bottom: 22px; } }
      .contact-us .card-contacts .text.link {
        text-decoration: underline;
        font-weight: 600; }
  .contact-us .map-container {
    background-color: lightgray;
    height: 300px; }
    @media all and (min-width: 767px) {
      .contact-us .map-container {
        position: absolute;
        height: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; } }

.footer {
  padding: 40px 0;
  background-size: cover;
  background-color: #1b1b40; }
  @media all and (min-width: 767px) {
    .footer {
      background: url(../img/footer-bg-picture.jpg) no-repeat center;
      padding: 90px 0 270px;
      background-size: cover; } }
  .footer .logo {
    text-align: left;
    color: #fff;
    font-size: 22px;
    margin-bottom: 40px;
    display: inline-block; }
    @media all and (min-width: 767px) {
      .footer .logo {
        color: #3C4045; } }
  .footer .list-item {
    color: #fff; }
    @media all and (min-width: 767px) {
      .footer .list-item {
        color: #3C4045; } }
    .footer .list-item.small-title {
      font-size: 12px;
      margin-bottom: 15px; }
    .footer .list-item > .link {
      font-size: 13px;
      font-weight: 600;
      color: #fff; }
      @media all and (min-width: 767px) {
        .footer .list-item > .link {
          color: #3C4045; } }

.footer-top {
  margin-bottom: 40px; }
  @media all and (min-width: 767px) {
    .footer-top {
      margin-bottom: 80px; } }

.copiright {
  color: #fff; }
  @media all and (min-width: 767px) {
    .copiright {
      color: #3C4045; } }

.footer .i-vk-b {
  background-image: url(../img/vk-w.svg); }
  @media all and (min-width: 767px) {
    .footer .i-vk-b {
      background-image: url(../img/vk-b.svg); } }

.footer .i-facebook-b {
  background-image: url(../img/facebook-w.svg); }
  @media all and (min-width: 767px) {
    .footer .i-facebook-b {
      background-image: url(../img/facebook-b.svg); } }

.overflowHidden {
  overflow: hidden !important; }

.btn-close {
  position: absolute;
  height: 30px;
  width: 30px;
  outline: none;
  border: none;
  display: inline-block;
  background-color: transparent;
  right: 10px;
  top: 10px;
  z-index: 999;
  cursor: pointer;
  opacity: 0.6;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .btn-close:hover {
    opacity: 1; }
  .btn-close::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: #3C4045;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 50%; }
  .btn-close::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: #3C4045;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 50%; }

.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  padding: 0;
  height: 0vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s; }
  .modal-window.show {
    padding: 0;
    height: 100vh;
    overflow: auto;
    opacity: 1; }
    @media all and (min-width: 767px) {
      .modal-window.show {
        padding: 30px; } }

.service-text {
  color: #3C4045;
  font-size: 14px;
  font-weight: 500; }

.modal-card {
  position: relative;
  width: 100%;
  max-width: 960px;
  background-color: #fff;
  -webkit-box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2), 0 0px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2), 0 0px 3px rgba(0, 0, 0, 0.1);
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }
  .show .modal-card {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px); }
  @media all and (min-width: 767px) {
    .modal-card {
      margin: 0 auto 30px;
      height: auto;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; } }

.modal-card.succes-card, .modal-card.error-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 40px;
  max-width: 700px;
  width: auto !important;
  text-align: center; }
  .modal-card.succes-card .check-icon, .modal-card.error-card .check-icon {
    width: 100px;
    margin-bottom: 12px; }
  .modal-card.succes-card .title, .modal-card.error-card .title {
    margin-bottom: 15px; }
  .modal-card.succes-card .text, .modal-card.error-card .text {
    margin-bottom: 22px;
    font-size: 16px; }

.room-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: -30px;
  padding: 30px;
  background-color: #f0f2f4; }

.modal-card .room-description {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  @media all and (min-width: 767px) {
    .modal-card .room-description {
      -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
      z-index: 1;
      width: 60%; } }

.form {
  width: 100%;
  padding: 30px;
  background-color: #fbfbfb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media all and (min-width: 767px) {
    .form {
      width: 40%; } }

.room-settings {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 20px; }
  @media all and (min-width: 767px) {
    .room-settings {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; } }
  .room-settings .title {
    font-size: 26px;
    margin-bottom: 20px; }

.service-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 10px 0;
  border-bottom: 1px solid #EDEFF2; }
  .service-item .icon {
    margin-right: 10px;
    background-position: left;
    background-size: cover;
    width: 30px;
    height: 20px; }

.input-wrapper {
  margin: 0 0 16px 0;
  width: 100%; }
  .input-wrapper.error .feald {
    border: 1px solid #f5415f; }
  .input-wrapper.error .input-title {
    color: #f5415f; }

.input-title {
  font-weight: 400;
  margin-bottom: 6px;
  font-size: 12px;
  text-transform: uppercase; }

.feald {
  padding: 10px 10px 10px 42px;
  border: 1px solid #EDEFF2;
  font-size: 14px;
  overflow: visible;
  display: inline-block;
  color: #3C4045;
  width: 100%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .feald:focus {
    border-color: #009beb; }
  .feald::-webkit-input-placeholder {
    color: #9ca5af; }
  .feald::-moz-placeholder {
    color: #9ca5af; }
  .feald:-ms-input-placeholder {
    color: #9ca5af; }
  .feald:-moz-placeholder {
    color: #9ca5af; }
  .feald.i-email-g, .feald.i-phone-g, .feald.i-calendar-g, .feald.i-person-g {
    background-size: 20px;
    background-position: 12px center;
    background-repeat: no-repeat; }

.dropdown {
  padding: 8px 10px;
  border: 1px solid #EDEFF2;
  font-size: 14px;
  overflow: visible;
  display: inline-block;
  color: #3C4045;
  width: 100%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  text-align: left;
  width: 80px;
  position: relative;
  background-color: transparent;
  z-index: 2;
  -moz-appearance: none;
  text-indent: 0.01px;
  -o-text-overflow: '';
  text-overflow: '';
  -ms-appearance: none;
  -webkit-appearance: none !important;
  appearance: none !important; }
  .dropdown::-ms-expand {
    display: none; }

.select-wrapper {
  position: relative;
  margin-right: 20px;
  background-color: #fff; }
  .select-wrapper:after {
    content: "";
    z-index: 1;
    position: absolute;
    top: 16px;
    right: 10px;
    border: 4px solid transparent;
    border-top: 4px solid #009beb; }

.input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.description-left-side {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
  padding: 0 30px 40px; }
  .description-left-side .title {
    font-size: 26px;
    margin-bottom: 14px; }
  .description-left-side .text {
    margin-bottom: 15px; }

.description-right-side {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
  width: 100%;
  overflow: hidden;
  padding: 58px 30px 0; }
  @media all and (min-width: 767px) {
    .description-right-side {
      padding: 0; } }

.slider-room-picture {
  height: 200px; }
  .slider-room-picture .slider-picture-large {
    height: 200px; }
    .slider-room-picture .slider-picture-large-img {
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%;
      height: 100%; }

.slider-preview-picture {
  width: 90%;
  margin: -20px auto 0; }
  .slider-preview-picture .slider-picture-small {
    height: 60px;
    overflow: hidden; }
    .slider-preview-picture .slider-picture-small-img {
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%;
      height: 100%; }
  .slider-preview-picture .slick-current {
    border-bottom: 3px solid #009beb; }

.button-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.price-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding-bottom: 14px; }
  @media all and (min-width: 767px) {
    .price-container {
      margin-bottom: 0; } }
  .price-container .price {
    line-height: 1;
    font-weight: 600;
    color: #3C4045;
    font-size: 30px;
    letter-spacing: 2px; }
  .price-container .days {
    font-size: 12px;
    font-weight: 400;
    color: #3C4045;
    text-transform: uppercase; }

.slick-arrow {
  opacity: 0.6;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .slick-arrow:hover {
    opacity: 1; }
  .slick-arrow::before {
    content: none !important; }

.slick-prev {
  width: 40px !important;
  height: 100% !important;
  left: 0 !important;
  bottom: 0 !important;
  top: 0 !important;
  right: auto !important;
  z-index: 2;
  background: rgba(0, 0, 0, 0.4) url(../img/right-arrow.svg) no-repeat center !important;
  background-size: 16px !important;
  -webkit-transform: scaleX(-1) !important;
  -ms-transform: scaleX(-1) !important;
  transform: scaleX(-1) !important; }

.slick-next {
  height: 100% !important;
  width: 40px !important;
  bottom: 0 !important;
  right: 0 !important;
  left: auto !important;
  top: 0 !important;
  -webkit-transform: translate(0, 0) !important;
  -ms-transform: translate(0, 0) !important;
  transform: translate(0, 0) !important;
  background: rgba(0, 0, 0, 0.4) url(../img/right-arrow.svg) no-repeat center !important;
  background-size: 16px !important; }

.slick-dots li button::before {
  font-size: 10px !important; }
