.footer {
    padding: 100px 0 270px;
    background: url(../image/footer-image.jpg) no-repeat center bottom;
    background-size: cover;
}

.footer-top {
    margin-bottom: 200px;
}

.copiright {
    color: $blue;
    opacity: 0.6;
}

.footer {
    .logo {
        color: $black;
        font-size: 22px;
    }

    .list-item a{
        color: $black;
        font-weight: 500;
    }
}