.footer {
    padding: 40px 0;
    background-size: cover;
    background-color: darken($black,20%);
    
    @media all and (min-width: $bp-small) {
        background: url(../img/footer-bg-picture.jpg) no-repeat center;
        padding: 90px 0 270px;
        background-size: cover;
    }

    .logo {
        text-align: left;
        color: #fff;
        font-size: 22px;
        margin-bottom: 20px;
        display: inline-block;

        @media all and (min-width: $bp-small) {
            color: $black;
        }
    }

    .list-item .link{
        color: $black;
        font-weight: 600;
    }

    .list-item {
        color: #fff;

        @media all and (min-width: $bp-small) {
            color: $black;
        }

        &.small-title {
            font-size: 12px;
            margin-bottom: 15px;
        }

        & > .link {
            font-weight: 400;
            color: #fff;

            @media all and (min-width: $bp-small) {
                color: $black;
            }
        }
    }
}

.footer-top {
    margin-bottom: 40px;
    
    @media all and (min-width: $bp-small) {
        margin-bottom: 80px;
    }
}

.copiright {
    color: $black;
}

