.header {
    background: url(../img/header-picture.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    height: 90vh;
    
    @media all and (min-width: $bp-small) {  
        min-height: 540px;
    }

    &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: transparentize(#001843,.25);
    }
}

.header-slider {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    
    @media all and (min-width: $bp-small) {  
        padding-top: 90px;
    }
}

.header-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.logo {
    font-weight: 600;
    color: $black;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: center;
    text-shadow: 1.3px 2.7px 16px rgba(0, 0, 0, 0.15);

    @media all and (min-width: $bp-small) {
        font-size: 36px;
        color: #fff;
        background-color: transparent;
    }
}

.light-text {
    font-weight: 200;
    font-family: "Roboto", sans-serif;
}

.contacts {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 0;
    display: none;

    & > a {
        color: #fff;
        font-weight: 300;
    }

    @media all and (min-width: $bp-small) {
        display: inline-block;
    }

    .contact-link {
        display: flex;
        align-items: center;
        float: left;
        margin-left: 10px;
        font-size: $small-text;
        text-align: right;
        
        .icon {
            height: 12px;
            width: 12px;
            margin-right: 5px;
        }

        .i-facebook-w, .i-vk-w {
            width: 20px;
            height: 20px;
        }
    }
}

.nav {
    max-height: 0px;
    transition: all $transition;
    overflow: hidden;

    @media all and (min-width: $bp-small) {
        overflow: visible;
    }
}

.nav-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    border-bottom: none;
    padding: 20px 0;
    
    @media all and (min-width: $bp-small) {
        padding-top: 20px;
        border-bottom: 1px solid $blue;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
  }

  .nav-item {
    padding: 0;

    @media all and (min-width: $bp-small) {
        padding: 0 20px;
    }
  }

  .nav-link {
    display: inline-block;
    padding: 20px 0;
    position: relative;
    width: 100%;
    border-bottom: 1px solid $light-gray;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.69;
    letter-spacing: 1.6px;
    text-align: center;
    color: $black;
    
    @media all and (min-width: $bp-small) {
        color: #fff;
        width: auto;
        border-bottom: none;
    }

    &:after {
    transition: all $transition;
    content: none;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #fff;

        @media all and (min-width: $bp-small) {
            content: "";
        }
    }

    &:hover:after {
        width: 100%;
    }
}

.slide-slogan {
    padding-top: 90px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 26px;
    height: 16px;
    cursor: pointer;
    position: relative;
    
    .nav-show & {
        height: 26px;
    }

    .menu-line {
        height: 2px;
        width: 100%;
        background-color: $blue;
        transition: width 0.2s;
        opacity: 1;
        transition: 0.2s;

        &:nth-child(1) {
            position: absolute;
            top: 0px;
            left: 0;
        }

        &:nth-child(2) {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            opacity: 1;
        }

        &:nth-child(3) {
            position: absolute;
            bottom: 0px;
            left: 0;
        }


        .nav-show &:nth-child(1) {
            position: absolute;
            top: 12px;
            transform: rotate(45deg);
            // width: 26px !important;
        }

        .nav-show &:nth-child(2) {
            opacity: 0;
        }

        .nav-show &:nth-child(3) {
            position: absolute;
            top: 12px;
            
            transform: rotate(-45deg);
            // width: 26px !important;
        }
    }

    @media all and (min-width: $bp-small) {
        display: none;
    }
}

.header-navigation {
    background-color: rgba(255,255,255,.98);
    padding-top: 10px;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: 50px;
    box-shadow: $shadow;

    @media all and (min-width:$bp-small) {
        position: absolute;
        background-color: transparent;
        box-shadow: none;

        .fixed & {
            position: fixed;
            background-color: #fff;
            box-shadow: $shadow;
            padding-top: 0;

            .header-info {
                float: left;

                .logo-wrapper {
                    padding-top: 9px;
                }

                .logo {
                    font-size: 20px;
                    color: $black;
                }
            
                .contacts {
                    display: none;
                }
            }

            .nav {
                float: right;
                
                .nav-wrapper {
                    padding-top: 0;
                    justify-content: flex-end;
                    border-bottom: none;
                    
                    .nav-item {
                        padding: 0 10px;

                        &:last-child {
                            padding-right: 0;
                        }
                        
                        .nav-link {
                            font-size: 12px;
                            color: $black;

                            &::after {
                                background-color: $blue;
                            }
                        }
                    }
                }
            }
        }
    }

    @media all and (max-width:$bp-small) {
        &.nav-show {
            .nav {
                max-height: 1000px
            }
        }
    }
}

.title-slogan {
	font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: 2.2px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 1.3px 2.7px 16px rgba(0, 0, 0, 0.15);
    position: relative;
    margin: 0 0 24px;

    @media all and (min-width:$bp-small) {
        font-size: 70px;
    }

    .light-text {
        display: block;

        @media all and (min-width:$bp-small) {
            display: initial;
        }
    }

    &:before {
        content: "";
        position: absolute;
        top: -8px;
        left: 50%;
        transform: translateX(-50%);
        width: 200px;
        height: 1px;
        background-color: #009beb;
    }
    
    &:after {
        content: "";
        position: absolute;
        bottom: -14px;
        left: 50%;
        transform: translateX(-50%);
        width: 200px;
        height: 1px;
        background-color: $blue;
    }
}

.sub-title-slogan {
    font-size: 20px;
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.9px;
    text-align: center;
    color: #fff;
    text-shadow: 1.3px 2.7px 16px rgba(0, 0, 0, 0.15);
    margin: 0 0 22px;

    @media all and (min-width:$bp-small) {
        font-size: 28px;
    }

    &:last-child {
        margin: 0;
    }
}