html, body{
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	font-family: 'Roboto', sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

.rooms, .convenience, .about-us, .nearby {
	padding-top: 20px;
	padding-bottom: 20px;

	@media all and (min-width: $bp-small) {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}

