.overflowHidden {
    overflow: hidden !important;
}

.btn-close {
    position: absolute;
    height: 30px;
    width: 30px;
    outline: none;
    border: none;
    display: inline-block;
    background-color: transparent;
    right: 10px;
    top: 10px;
    z-index: 999;
    cursor: pointer;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 1px;
        background-color: $black;
        transform: rotate(45deg);
        top: 50%;
    }
    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 1px;
        background-color: $black;
        transform: rotate(-45deg);
        top: 50%;
    }
}

.modal-window {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    padding: 0;
    height: 0vh;
    overflow: hidden;
    background-color: rgba(255,255,255,0.8);
    opacity: 0;
    transition: opacity 0.2s;

    &.show {
        padding: 0;
        height: 100vh;
        overflow: auto;
        opacity: 1;

        @media all and (min-width:$bp-small) {
            padding: 20px;
        }
    }

}

.service-text {
    color: $gray;
    font-size: 14px;
    font-weight: 400;
}

.modal-card {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 960px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: $shadow;
    transition: transform 0.4s;
    transform: translateY(-200px);
    overflow: auto;
    padding: 20px 20px 0;
    
    .show & {
        transform: translateY(0px);
    } 

    @media all and (min-width: $bp-small) {
        padding: 50px 50px 0;
        height: auto;
    }
}

.room-order {
    padding: 20px 0;
    border-top: 1px solid $light-gray;
    background-color: #fbfbfb;
    margin: 0 -20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: flex-end;

    @media all and (min-width: $bp-small) {
        padding: 50px;
        margin: 0 -50px;
        flex-direction: row;
        align-items: center;
    }
}

.modal-card .room-description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 40px;
    
    @media all and (min-width: $bp-small) {   
        flex-direction: row;
    }
}

.room-settings {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 40px;

    @media all and (min-width: $bp-small) {   
        flex-direction: row;
    }
}

.service-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px 0;
    border-top: 1px solid $light-gray;
    
    &:last-child {
        border-bottom: 1px solid $light-gray;
    }

    .icon {
        margin-right: 10px;
        background-position: left;
        background-size: cover;
        width: 30px;
        height: 20px;
        
    }
}

.input-wrapper {
    margin: 0 10px 10px 0;
}

.input-title {
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 14px;
}

.feald {
    padding: 10px 10px 10px 42px;
    border: 1px solid $light-gray;
    font-size: 14px;
    overflow: visible;
    display: inline-block;
    color: $black;
    width: 200px;

    &::-webkit-input-placeholder {
        color: $gray;
    }
    &::-moz-placeholder {
        color: $gray;
    }
    &:-ms-input-placeholder {
        color: $gray;
    }
    &:-moz-placeholder {
        color: $gray;
    }

    &.i-email-g, &.i-phone-g, &.i-calendar-g {
        background-size: 20px;
        background-position: 12px center;
        background-repeat: no-repeat;
    }
}

.input-prepend-append {
    font-size: 0;

    .btn {
        background-color: #fff;
        color: $blue;
        border: 1px solid $light-gray;
        margin: 0;
        padding: 10px 15px;
    }    

    .feald {
        width: 40px;
        padding: 10px;
        margin: 0 -1px;
        text-align: center;
    }
}

.input-group-date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .feald {
        width: 160px;
    }

    .line {
        color: $gray;
        margin-right: 10px;
        padding-top: 14px;
    }
}

.description-left-side {
    flex: 0 1 100%;
    margin-bottom: 20px;
    
    @media all and (min-width: $bp-small) {   
        margin-bottom: 0px;
        flex: 0 1 50%;
        padding-right: 30px;
    }

    .title {
        font-size: 24px;
        margin-bottom: 14px;
    }

    .text {
        font-size: 12px;
        margin-bottom: 15px;
    }
}

.description-right-side {
    flex: 0 1 100%;
    width: 100%;
    overflow: hidden;
    
    @media all and (min-width: $bp-small) {   
        flex: 0 1 50%;
    }
}

.slider-room-picture {
    height: 200px;

    .slider-picture-large {
        height: 200px;

        &-img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

}
.slider-preview-picture {
    width: 90%;
    margin: -20px auto 0;
   
    .slider-picture-small {
        height: 60px;
        overflow: hidden;

        &-img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .slick-current {
        border-bottom: 3px solid $blue;
    }
}

.price-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;

    @media all and (min-width: $bp-small) {   
        margin-bottom: 0;
    }

    .final-price {
        border-right: 1px solid $light-gray;
        padding-right: 10px;
        text-align: left;
    }

    .small-title {
        font-weight: 400;
        font-size: 14px;
        margin-bottom: 6px;
    }

    .days {
        font-size: 14px;
        font-weight: 600;
    }

    .price {
        padding: 0 20px 0 10px;
        font-weight: 600;
        color: $green;
        font-size: 34px;
    }
}